.summary-content,.booking-first-container, .c-line, .c-row{
    display:flex;
    justify-content:space-between;
}

.c-row{
    flex-direction:column;
}
.summary-charges{
    width:35%;
}

.right-container{
    width:60%;
}

.summary-charges{
    margin:20px;
    line-height:3;
    box-shadow: 1px 2px 15px 2px rgba(224,224,224,1);
    border-radius:15px;
    padding: 10px 30px;
}

.heading{
    font-size:20px;
}

.header{
    font-size:18px;
}

.customer-info, .booking-info{
    margin:20px 10px;
    line-height:2;
    padding: 10px 50px 10px 10px;
}

.right-container{
    font-size:15px;
    text-align:align;
}

.bookingButton{
    background-color:#0f9b0a;;
    margin:20px;
}

.locationConfirmation{
    margin:10px 20px;
    line-height:2;
}

.bookingButton:hover{
    background-color:#0c6608;
}

.CarButton{
    margin-left:20px;
}
