@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family: 'Open Sans', sans-serif;
}

.bold{
    font-weight: bold;
}

hr{
    border:1px solid black;
}

.logo{
    width:140px;
    height:70px;
}

.nav-section{
    background-color: #f79413;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.nav-head{
    font-weight:bold;
}

.nav-minor{
    font-size:13px;
    text-align: center;
    font-weight: 400;
}

.req-call, .bookingButton{
    padding:7px 10px;
    border-radius:5px;
    border:none;
}

.req-call{
    color:#f79413;
}

.call-icon{
    padding-top:5px;
}

.req-call:hover{
    cursor:pointer;
    background-color: rgb(0, 0, 0);
}

.navcolor{
    background-color: rgb(48, 45, 45);
}

.login-link{
font-weight: bold;
font-size:14px;
border:1px solid black;
padding:5px 10px;
}

.login-link:hover{
    cursor:pointer;
    background-color: black;
}

.copyright{
    color:#f79413;
    text-align:center;
}

.bcolor{
    color:#f79413
}

.adminHeader{
    margin-top:20px;
}

.main-admin-header{
    margin:20px 20px -10px
}
.admin-img{
    display:flex;
}

.a-img{
    width:210px;
    height:210px;
    margin:10px;
}

.amnt{
    margin:30px 20px -20px;
}